@import url(https://fonts.bunny.net/css?family=abel:400|abhaya-libre:400,500,600|aldrich:400);

:root {
  --main-color: #78350f;
  --button-color: #fde68a;
  --back-main-color: #fef3c7;
  --project-backround: #fcd34d;
}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    font-family: 'ABeeZee', sans-serif;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .container {
    border: 1px solid seagreen;
    background-color: gold;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr ;
    grid-template-rows: 1.1fr 2.5fr 2.5fr ;
  }

  .header {
    
    background-color: var(--back-main-color);
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.3fr;
    justify-content: center;
    align-items: center;
  }

  .leftsidebar {
    
    background-color: var(--main-color);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: repeat(9, 48px);
    justify-content: center;
    
  }

  .projects {
    
    background-color: var(--project-backround);
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 5fr 1.5fr;
    grid-template-rows: 0.8fr 5fr 0.8fr 5fr;
  }

  .rightsidebar {
    border: 1px solid rgb(27, 26, 27);
    background-color: rgb(84, 95, 46);
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .navigator img {
    height: 25px;
    width: 25px;
    margin-top: 5px;
  }

  

  .searchbar img {
    height: 25px;
    width: 25px;
  }

  .title img {
    height: 50px;
    width: 50px;
  }

  img {
    height: 20px;
    width: 20px;
  }

  .navigator {
    display: flex;
    margin-top: 70px;
    margin-left: 10px;
    gap: 12px;
  }

  .navigator:hover {
    margin-left: 15px;
  }

  .title h1 {
    color: var(--button-color);
  }

  .seperate {
    margin-top: 150px;
  }
  
  .title {
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
    gap: 8px;
  }
  
  .navigator p {
    color: var(--button-color);
    height: max-content;
    font-size: 22.5px;
  }

  .navigator p:hover {
    font-size: 23.5px;
  }



  .searchbar {
    display: flex;
    gap: 10px;
    margin-left: 45px;
    margin-top: 10px;
  }

  .account {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 250px;
  }
  
  .accountimage {
    height: 50px;
    width: 50px;
  }
  
  .profileimage {
    height: 80px;
    width: 80px;
  }

  .profile {
    display: flex;
    align-items: center;
    margin-left: 45px;
    gap: 20px;
  }
  
  .smalltext {
    font-size: 14px;
  }

  .largetext {
    font-size: 24px;
  }

  .buttons {
    display: flex;
    gap: 38px;
    margin-left: 63px;
  }
  button {
    background-color: var(--main-color);
    color: var(--button-color);
    padding: 5px;
    border-radius: 12px;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
  }

  button:hover {
    background-color: var(--project-backround);
    color: #78350f;
  }

  .profile p {
    line-height: 1.25;
  }

  .projectsum {
    grid-column: 1 / 2;
    grid-row: 2 / 5 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
    
  }

  .content {
    width: 350px;
    height: 250px;
    border-radius: 12px;
    background-color: var(--back-main-color);
    margin-left: 40px;
    border-left: 5px solid red;
    box-shadow: 0 4px 8px 0#f59e0b, 0 6px 20px 0 #f59e0b; 
    
  }

  .content:hover {
    box-shadow: 6px 6px 6px 6px #f59e0b;
    border-left: 5px solid rgb(35, 17, 202);
    
  }
  
  .content p {
    width: 90%;
    height: 60%;
    margin-left: 20px;
    font-size: 15.5px;
    
  }



  .content h2 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 17.5px;
  }
  .contentsymbol {
    display: flex;
    margin-left: 230px;
    
    gap: 10px;
  }

  .contentsymbol img {
    width: 26px;
    height: 26px;
  }

  .content img:hover {
    margin-top: 3px;
  }
  

  .announcements {
    box-shadow: 0 4px 8px 0#f59e0b, 0 6px 20px 0 #f59e0b;
    background-color: var(--back-main-color);
    border-radius: 15px;
    width: 300px;
    
    align-content: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .announcements p {
    font-size: 11px;
    height: 50px;
    width: 240px;
    margin-left: 30px;
    color: rgb(37, 37, 37);
  }

  .announcements h3 {
    font-size: 17px;
    margin-left: 30px;
  }

  hr {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 65px;
  }

  .middle {
    height: 60px;
  }

  .trending {
    box-shadow: 0 4px 8px 0#f59e0b, 0 6px 20px 0 #f59e0b;
    background-color:var(--back-main-color);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
  }

  .trending p {
    color: rgb(44, 43, 43);
    font-size: 14px;
  }

  .trendingprofile {
    display: flex;
    margin-right: 64px;
    gap: 10px;
  }

  .trendingprofile img {
    width: 60px;
    height: 60px;
    
  }

  .innertitleone {
    
    margin-left: 48px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
  }
  
  .innertitle {
    font-size: 17px;
    width: 200px;
    margin-top: 20px;
    margin-left: 5px;
    font-weight: bold;
  }

  input {
    border-radius: 15px;
    border-color: #fcd34d;
    background-color:#fcd34d;
    
  }


